.gallery-page-container {
    min-height: calc(100vh - 60px);
    padding: 100px 80px;
    color: var(--text-primary-color);
}

.gallery-page-title {
    color: var(--text-accent-color);
    padding-bottom: 30px;
}

.gallery-page-text{
    padding-bottom: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
}

