      ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
      }

      li {
          flex: 1;
          padding: 10px 0px; 
      }

      .loading {
          color: var(--text-primary-color);
      }


