      ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
      }

      .content-article-list-li {
          flex: 1;
          flex-basis: content;
          padding: 20px 0px;
          width: 100%;
      }

      .loading {
          color: var(--text-primary-color);
      }


