.home {
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 70px 70px 70px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text-container {
    min-height: 50vh;
    border: 1px solid var(--accent-color-light);
    box-shadow: 0 0 5px var(--accent-color-light),
        0 0 5px var(--accent-color-light) inset;
    background-color: transparent;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    color: var(--text-accent-color-light);
  text-shadow: 0 0 10px var(--text-accent-color);
    margin-bottom: 30px;
}

.home p {
    color: var(--text-primary-color);
}

@media screen and (max-width: 550px) {
    .home {
        padding: 70px 20px 70px 20px;
    }
}

@media screen and (max-width: 350px) {
    .home-text-container {
        padding: 50px 20px;
    }
}