* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: #181a19;
    --secondary-color: #116466;
    --accent-color: #d9b08c;
    --text-primary-color: #d1e8e2;
    --text-accent-color: #ffcb9a;
  }

  .hero-container {
    color: var(--text-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  .hero-container h1 {
      color: var(--text-accent-color);
      padding-bottom: 20px;
  }

  .launch-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .launch-header {
    color: var(--secondary-color);
    margin-bottom: 15px;
  }

  .launch-time {
    font-size: 30px;
    margin-bottom: 20px
  }

  .countdown-container {
    border: 1px solid var(--accent-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .launch-countdown-time {
    font-size: 36px;
    color: var(--text-primary-color);
  }

  .launch-countdown-label {
    color: var(--secondary-color)
  }

