.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-container-select-rover {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.label {
    margin-right: 10px;
}

.select {
    margin-right: 10px;
}

.select-rover-label {
    color: var(--text-accent-color);
}

.select-info {
    display: block;
    font-style: italic;
    color: var(--text-secondary-color);
    margin: 10px 0 20px 0;
}

.input-container-date-picker {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.date-picker-label {
    align-self: flex-start;
    color: var(--text-accent-color);
    
}

.date-picker {
    margin-top: 5px;
    display: flex;
}

.date-display {
    margin: 10px 10px 20px 0;
    font-style: italic;
    color: var(--text-secondary-color);
}

@media only screen and (max-width: 600px) {
    .date-picker-container {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 350px) {
    .date-picker {
        display: flex;
        flex-direction: column;
    }
}
