* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: #181a19;
    --secondary-color: #116466;
    --accent-color: #d9b08c;
    --text-primary-color: #d1e8e2;
    --text-accent-color: #ffcb9a;
  }

.input-container-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 0;
    margin-bottom: 20px;
}

.select-label {
    margin-right: 10px;
}

.select {
    margin-right: 10px;
}

.select-info {
    display: block;
}

.input-container-date-picker {
    max-width: 250px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-picker-container {
    background-color: var(--text-primary-color);
    width: fit-content;
    height: fit-content;
}

.date-picker {
    z-index: 3;
}