* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: #181a19;
    --secondary-color: #116466;
    --accent-color: #d9b08c;
    --text-primary-color: #d1e8e2;
    --text-accent-color: #ffcb9a;
  }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-container-select-rover {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.label {
    margin-right: 10px;
}

.select {
    margin-right: 10px;
}

.select-rover-label {
    text-decoration: underline;
}

.select-info {
    display: block;
    font-style: italic;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.input-container-date-picker {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.date-picker-label {
    align-self: flex-start;
    text-decoration: underline;
}

.date-picker {
    display: flex;
}

.date-display {
    margin-right: 10px;
    font-style: italic;
    color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
    .date-picker-container {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 350px) {
    .date-picker {
        display: flex;
        flex-direction: column;
    }
}
