.weather-page-container {
    color: var(--text-primary-color);
    padding: 100px 80px;
    min-height: calc(100vh - 60px);

}

.data-loading-screen {
    color: var(--text-primary-color);
    padding: 80px;
    height: 90vh;
}

.weather-page-title {
    color: var(--text-accent-color);
    padding-bottom: 30px;

}