.footer {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    border-top: 1px solid var(--secondary-color);
    height: 60px;
    display: flex;
    justify-content: center;
  }

  .footer-menu {
      margin: 0;
      align-self: center;
      list-style: none;
      padding: 10px 80px;
  }

  .footer-menu-rights a {
      text-decoration: none;
      color: var(--text-primary-color);
      transition: 0.5s;
  }

  .footer-menu-rights a:hover {
      color: var(--text-accent-color);
  }