.footer {
    background-color: var(--primary-color);
    color: var(--text-secondary-color);
    border-top: 1px solid var(--text-secondary-color);
    height: 60px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    text-align: center;
  }