:root {
  --primary-color: #181a19;
  --secondary-color: #116466;
  --accent-color: #d9b08c;
  --text-primary-color: #d1e8e2;
  --text-accent-color: #ffcb9a;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    
    position: fixed;
    opacity: 90%;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-item {
    padding-left: 10px;
  }

  .menu-item a {
    padding-left: 10px;
    text-decoration: none;
    color: var(--text-primary-color);
    text-transform: uppercase;
  }

  .menu-item a:hover {
    color: var(--text-accent-color);
  }

  .logo {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: bold;
  }